<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="session">
        
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property><!-- Defino o driver de conexão com o bd -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/web_real_estate_app?createDatabaseIfNotExist=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <property name="c3p0.min_size">1</property>
        <property name="c3p0.max_size">20</property>
        <property name="c3p0.timeout">300</property>
        <property name="c3p0.max_statements">80</property>
        <property name="c3p0.idle_test_period">300</property>
        
        <mapping class="real_estate.model.entities.City"/>
        <mapping class="real_estate.model.entities.Address"/>
        <mapping class="real_estate.model.entities.Nation"/>
        <mapping class="real_estate.model.entities.User"/>
        <mapping class="real_estate.model.entities.Gender"/>
        <mapping class="real_estate.model.entities.TypeAddress"/>
        <mapping class="real_estate.model.entities.TypeRegion"/>
    </session-factory>
</hibernate-configuration>